.pillText {
    background-color: rgba(50, 50, 50, 0.8);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 0.75em;
}

.pillText.bad {
    background-color: rgba(255, 0, 0, 0.801);
}

.pillText.meh {
    background-color: rgba(255, 145, 0, 0.801);
}

.pillText.good {
    background-color: rgba(21, 160, 21, 0.801);
}

.insights-characterIcon, .insights-characterMoveIcon {
    width: 20px;
    height: 20px;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 50%;
    padding: 2px;
    border: 1px solid white;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.insights-characterIcon img, .insights-characterMoveIcon img {
    height: 16px;
    width: 16px;
    object-fit: contain;
    border-radius: 50%;
}

.insights-data-subtitle {
    font-size: 1.2em;
    width: 100%;
}

.insights-notes-text {
    width: 100%;
    max-height: 60%;
    border-bottom: 1px solid rgba(214, 214, 214, 0.1);
}

.insights-notes-best-partners {
    border-bottom: 1px solid rgba(214, 214, 214, 0.1);
    width: 100%;
    min-height: 30%;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.insights-notes-traits {
    width: 100%;
    min-height: 10%;
    padding-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.best-partner-container {
    position: relative;
    max-width: 30%;
    max-height: 30%;
    aspect-ratio: 1/1;
}

.best-partner-icon {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(50, 50, 50, 0.8);
    border: 2px solid rgb(81, 182, 72);
}

.best-partner-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.best-partner-description {
    position: absolute;
    width: 200px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
    box-sizing: border-box;
    padding: 10px;
    background: rgba(50, 50, 50, 0.9);
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 1em;
    z-index: 10;
}

.insights-data-traits {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.insights-trait-pill {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 0.8em;
}

.insights-trait-pill.green {
    background-color: rgba(21, 160, 21, 0.801);
}

.insights-trait-pill.red {
    background-color: rgba(255, 0, 0, 0.801);
}

.insights-trait-pill.blue {
    background-color: rgba(0, 89, 255, 0.801);
}

.insights-trait-pill.gray {
    background-color: rgba(50, 50, 50);
}