.custom-dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.custom-dropdown-dropdown-button {
    padding: 8px;
    width: 100%;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.custom-dropdown-dropdown-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.custom-dropdown-selected-option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1em;
    text-overflow: clip;
    width: 100%;
}

.custom-dropdown-dropdown-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.custom-dropdown-selected-option span {
    width: 100%;
    text-align: left;
}

.custom-dropdown-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2000;
    margin-top: 2px;
    white-space: nowrap;
}

.custom-dropdown-dropdown-option {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: white;
    min-width: fit-content;
}

.custom-dropdown-dropdown-option.target {
    border: 1px solid #7fb3ff;
}

.custom-dropdown-dropdown-option:hover {
    background-color: #444;
}