/*** Base Modal Styling (pdim = pro data insert modal) ***/

#pdim-container {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    background-color: rgba(42, 42, 42, 0.95);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pdim-container::-webkit-scrollbar {
    display: none;
}

.pdim-header-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 11;
    width: 100%;
}

.pdim-header-button {
    width: 10%;
    border-radius: 0px;
    font-size: 1.2em;
}

#pdim-submit-button, #pdim-reset-button {
    background-color: #4e8cff;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#pdim-submit-button:hover, #pdim-reset-button:hover {
    background-color: #3a78e7;
}

.pdim-header-type-select {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pdim-header-type-select-category {
    flex: 1;
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}

.pdim-header-type-select-category:hover {
    background-color: #3a3a3a;
}

.pdim-header-type-select-category.active {
    background-color: #3a3a3a;
    border-bottom: 3px solid #7fb3ff;
}

/*** Overall Creation Forms ***/

.pdim-creation-forms {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pdim-creation-forms input, .pdim-creation-forms select, .pdim-creation-forms .custom-dropdown-dropdown-button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    font-size: 14px;
    max-height: 40px;
}

/*** Set Insertion ***/

/* Set Data */

.pdim-event-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.pdim-event-data-container select, 
.pdim-event-data-container input {
    width: 25%;
}

/* Match Data */

.pdim-match-data-container {
    background-color: rgba(42, 42, 42, 0.85);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.pdim-match-data-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.pdim-match-data-container h3 {
    width: 15%;
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 1.5em;
}

.pdim-match-winner-dropdown {
    width: 25%;
}

.pdim-match-data-input-container input {
    width: 35%;
}

/* Comp Data */

.pdim-comp-data-container {
    width: 48%;
    gap: 30px;
}

.pdim-comp-team-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.pdim-comp-team-data-container select {
    width: 40%;
}

.pdim-comp-team-region-display {
    width: 30%;
    display: flex;
}

.pdim-comp-team-region-display input {
    width: 100%;
}

.pdim-comp-first-pick-checkbox-container {
    width: 20%;
    color: white;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdim-comp-first-pick-checkbox-container label {
    width: 100%;
    color: white;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdim-comp-first-pick-checkbox-container input {
    width: 100%;
}

.pdim-comp-team-bans-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}

.pdim-comp-team-bans-container .custom-dropdown {
    width: 30%;
}

.pdim-comp-team-picks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Pick Data */

.pdim-pick-data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pdim-pick-necessary-data-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pdim-pick-pokemon-select-container {
    width: 30%;
}

.pdim-pick-move-select-container {
    width: 15%;
}

.pdim-pick-necessary-data-row select {
    width: 18%;
}

.pdim-pick-extra-data-row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-bottom: 10px;
}

input.pdim-pick-stat-input {
    width: 7%;
}

select.pdim-pick-stat-input {
    width: 18%;
}