body {
    margin: 0;
    padding: 0;
}

#draftContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    top: 0px;
}

#middlePartsContainer {
    height: 90vh;
    width: 59vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#timerContainer {
    height: 5vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer {
    width: 30vw;
    height: 5vh;
    border: 3px solid black;
    border-top: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.draftContainer {
    height: 96vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#purpleBans {
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: left;
}

#orangeBans {
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: right;
}

.banDisplay {
    filter: grayscale(1);
    background-color: rgb(201, 201, 201);
}

#purpleBans .banDisplay {
    margin-left: 1vw;
    margin-top: auto;
    width: 2vh;
    height: 2vh;
}

#orangeBans .banDisplay {
    margin-right: 1vw;
    margin-top: auto;
    width: 2vh;
    height: 2vh;
}

.characterPortrait {
    border: 1px solid black;
}

.characterSelection h3 {
    width: auto;
}

.purpleSelection .characterPortrait {
    width: 8vh;
    height: 8vh;
    margin-left: auto;
    margin-right: 2vw;
}

.orangeSelection .characterPortrait {
    width: 8vh;
    height: 8vh;
    margin-right: auto;
    margin-left: 2vw;
}

.characterSelection {
    flex: 1;
    height: 10vh;
    width: 18vw;
    margin-top: 2vh;
    border: solid 3px black;
    display: flex;
    align-items: center;
    background-color: white;
}

.purpleSelection {
    background-color: rgb(194, 161, 228);
}

.orangeSelection {
    background-color: rgb(225, 165, 106);
}

#purpleDraftContainer {

}

.purpleSelection {
    margin-left: 0px;
    margin-right: 2vw;
    border-left: none;
    padding-left: 2vw;
}

#orangeDraftContainer {

}

.orangeSelection {
    margin-left: 2vw;
    margin-right: 0px;
    border-right: none;
    padding-right: 2vw;
}

#draftBoardContainer {
    height: 75vh;
    width: 59vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border: none;
    background: transparent;
}

#searchBar {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 2vh;
    width: 47vw;
    border: 2px solid black;
}

.characterSelect {
    height: 70vh;
    width: 49vw;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    color: rgb(255, 255, 255);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.characterSelect::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.draftCharacter {
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 5.8vw;
    height: 8vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.draftCharacter .characterPortrait {
    width: 6vw;
    height: 6vw;
    border-color: rgb(255, 255, 255)
}

.draftCharacter h4 {
    margin-top: 0.2vw;
}

.ban {
    filter: grayscale(1);
}

.selected {
    filter: grayscale(1);
}

#lockInContainer {
    height: 6vh;
    width: 59vw;
    display: flex;
    justify-content: center;
}

#lockInBTN {
    height: 6vh;
    width: 45vw;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
}

.All-Rounder .characterPortrait {
    background-image: linear-gradient(
        45deg,
        purple 0%,
        purple 10%,
        plum 10%,
        plum 11%,
        purple 11%,
        purple 21%,
        plum 21%,
        plum 22%,
        purple 22%,
        purple 32%,
        plum 32%,
        plum 33%,
        purple 33%,
        purple 43%,
        plum 43%,
        plum 44%,
        purple 44%,
        purple 54%,
        plum 54%,
        plum 55%,
        purple 55%,
        purple 65%,
        plum 65%,
        plum 66%,
        purple 66%,
        purple 76%,
        plum 76%,
        plum 77%,
        purple 77%,
        purple 87%,
        plum 87%,
        plum 88%,
        purple 88%,
        purple 100%
    );
    background-size: 6vw 6vw;
}

.Attacker .characterPortrait {
    background-image: linear-gradient(
        45deg,
        fireBrick 0%,
        fireBrick 10%,
        lightCoral 10%,
        lightCoral 11%,
        fireBrick 11%,
        fireBrick 21%,
        lightCoral 21%,
        lightCoral 22%,
        fireBrick 22%,
        fireBrick 32%,
        lightCoral 32%,
        lightCoral 33%,
        fireBrick 33%,
        fireBrick 43%,
        lightCoral 43%,
        lightCoral 44%,
        fireBrick 44%,
        fireBrick 54%,
        lightCoral 54%,
        lightCoral 55%,
        fireBrick 55%,
        fireBrick 65%,
        lightCoral 65%,
        lightCoral 66%,
        fireBrick 66%,
        fireBrick 76%,
        lightCoral 76%,
        lightCoral 77%,
        fireBrick 77%,
        fireBrick 87%,
        lightCoral 87%,
        lightCoral 88%,
        fireBrick 88%,
        fireBrick 100%
    );
    background-size: 6vw 6vw;
}

.Speedster .characterPortrait {
    background-image: linear-gradient(
        45deg,
        dodgerBlue 0%,
        dodgerBlue 10%,
        skyBlue 10%,
        skyBlue 11%,
        dodgerBlue 11%,
        dodgerBlue 21%,
        skyBlue 21%,
        skyBlue 22%,
        dodgerBlue 22%,
        dodgerBlue 32%,
        skyBlue 32%,
        skyBlue 33%,
        dodgerBlue 33%,
        dodgerBlue 43%,
        skyBlue 43%,
        skyBlue 44%,
        dodgerBlue 44%,
        dodgerBlue 54%,
        skyBlue 54%,
        skyBlue 55%,
        dodgerBlue 55%,
        dodgerBlue 65%,
        skyBlue 65%,
        skyBlue 66%,
        dodgerBlue 66%,
        dodgerBlue 76%,
        skyBlue 76%,
        skyBlue 77%,
        dodgerBlue 77%,
        dodgerBlue 87%,
        skyBlue 87%,
        skyBlue 88%,
        dodgerBlue 88%,
        dodgerBlue 100%
    );
    background-size: 6vw 6vw;
}

.Defender .characterPortrait {
    background-image: linear-gradient(
        45deg,
        SeaGreen 0%,
        SeaGreen 10%,
        paleGreen 10%,
        paleGreen 11%,
        SeaGreen 11%,
        SeaGreen 21%,
        paleGreen 21%,
        paleGreen 22%,
        SeaGreen 22%,
        SeaGreen 32%,
        paleGreen 32%,
        paleGreen 33%,
        SeaGreen 33%,
        SeaGreen 43%,
        paleGreen 43%,
        paleGreen 44%,
        SeaGreen 44%,
        SeaGreen 54%,
        paleGreen 54%,
        paleGreen 55%,
        SeaGreen 55%,
        SeaGreen 65%,
        paleGreen 65%,
        paleGreen 66%,
        SeaGreen 66%,
        SeaGreen 76%,
        paleGreen 76%,
        paleGreen 77%,
        SeaGreen 77%,
        SeaGreen 87%,
        paleGreen 87%,
        paleGreen 88%,
        SeaGreen 88%,
        SeaGreen 100%
    );
    background-size: 6vw 6vw;
}

.Supporter .characterPortrait {
    background-image: linear-gradient(
        45deg,
        gold 0%,
        gold 10%,
        lemonChiffon 10%,
        lemonChiffon 11%,
        gold 11%,
        gold 21%,
        lemonChiffon 21%,
        lemonChiffon 22%,
        gold 22%,
        gold 32%,
        lemonChiffon 32%,
        lemonChiffon 33%,
        gold 33%,
        gold 43%,
        lemonChiffon 43%,
        lemonChiffon 44%,
        gold 44%,
        gold 54%,
        lemonChiffon 54%,
        lemonChiffon 55%,
        gold 55%,
        gold 65%,
        lemonChiffon 65%,
        lemonChiffon 66%,
        gold 66%,
        gold 76%,
        lemonChiffon 76%,
        lemonChiffon 77%,
        gold 77%,
        gold 87%,
        lemonChiffon 87%,
        lemonChiffon 88%,
        gold 88%,
        gold 100%
    );
    background-size: 6vw 6vw;
}