#insights-main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/assets/landingPageBackgrounds/Blurred/UNITE_Theia_Sky_Ruins.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    overflow: hidden;
}

#insights-mode-selector {
    height: 40px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

.insights-mode-option {
    height: 100%;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.insights-mode-bar {
    height: 4px;
    width: 50%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 0.5s ease, right 0.5s ease;
}

.insights-mode-bar.left {
    left: 0;
}

.insights-mode-bar.right {
    left: 50%;
}

#insights-content-container {
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#insights-pokemon-select-container {
    height: 30%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 10px;
}

.insights-pokemon-select {
    height: calc(20% - 2px);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    cursor: pointer;
}

.insights-pokemon-select-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.insights-data-container {
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.insights-data-note {
    width: 30%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.insights-data-title {
    font-size: 1.5em;
    text-decoration: underline;
    height: 10%;
    width: 90%;
    text-align: center;
    color: white;
}

.insights-data-text {
    height: 80%;
    width: 90%;
    text-align: center;
    overflow-y: scroll;
}

.insights-data-text::-webkit-scrollbar {
    display: none;
}

.insights-data-pokemon-image {
    width: calc(40% - 40px);
    height: calc(90% - 60px);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/assets/standingPlate.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
}

.insights-data-pokemon-image img {
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: 1 / 1;
}

.insights-data-example-match {
    width: 20%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 720px) {
    #insights-main-container {
        font-size: 12px;
    }

    .insights-pokemon-select {
        height: calc(10% - 2px);
    }

    .insights-data-container {
        flex-wrap: wrap;
    }

    .insights-data-note {
        width: 90%;
        height: 50%;
    }

    .insights-data-pokemon-image {
        height: calc(40% - 20px);
        width: calc(50% - 20px);
        padding: 10px;
    }

    .insights-data-example-match { 
        height: 40%;
        width: 40%;
    }

    .insights-data-example-match .insights-data-title {
        font-size: 1em;
    }

}
