#score-main-container {
    display: flex;
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 10px;
}

#score-legend-and-comp-score-container {
    width: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
}

#score-legend, #score-comp-score {
    height: 45%;   
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

#score-legend h2, #score-comp-score h2 {
    text-decoration: underline;
}

.score-legend-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.score-legend-row p {
    text-align: center;
    width: 45%;
    font-size: 1em;
}

#score-legend-and-comp-score-container .S {
    color: rgb(150, 59, 183);
}

#score-legend-and-comp-score-container .A {
    color: aqua;
}

#score-legend-and-comp-score-container .B {
    color: rgb(0, 255, 42);
}

#score-legend-and-comp-score-container .C {
    color: rgb(205, 211, 101);
}

#score-legend-and-comp-score-container .D {
    color: rgb(201, 146, 57);
}

#score-legend-and-comp-score-container .F {
    color: rgb(200, 72, 72);
}

#score-comp-score p {
    text-align: center;
    margin: 0px 10px;
    width: 90%;
    font-size: 1em;
}

/* TraitDisplay.jsx Styles */

#score-trait-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 28%;
    height: 45%;
    box-sizing: border-box;
    padding: 8px;
    background-color: rgba(60, 60, 60, 0.2);
    border-radius: 10px;
    box-shadow: 0 6px 24px 0 rgba(0,0,0,0.28), 0 1.5px 4.5px 0 rgba(0,0,0,0.16);
}

#score-trait-display-character-display {
    height: 40%;
    aspect-ratio: 1.5 / 1;
    max-width: 100%;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
}

#score-trait-display-character-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#score-trait-display-character-dropdown {
    width: 100%;
    height: 10%;
}

#score-trait-display-character-dropdown span {
    text-align: center;
}

#score-trait-display-trait-list {
    width: 100%;
    height: 45%;
    border: 2px solid black;
    background-color: #333;
    border-radius: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#score-trait-display-trait-list::-webkit-scrollbar {
    display: none;
}

.score-trait-display-trait-list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.score-trait-display-trait-list-row .trait-name, .score-trait-display-trait-list-row .trait-value {
    width: 45%;
    height: 100%;
    background-color: #333;
    color: white;
    overflow: hidden;
    padding: 2px 4px;
}

.score-trait-display-trait-list-row .trait-value {
    text-align: right;
}

.score-trait-display-no-traits {
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    #score-trait-display-container {
        padding: 0px;
    }

    #score-trait-display-character-dropdown span {
        font-size: 0.8em;
    }

    #score-main-container {
        font-size: 10px;
    }
}
