#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h3 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#filterContainer {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.filter-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#filterContainer select, #orderingContainer select, #filterContainer input[type="date"] {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    font-size: 0.5rem;
    max-height: 40px;
    width: 25%;
}

#orderingContainer select{
    width: auto;
}

@media (min-width: 1024px) {
    #filterContainer select, #orderingContainer select, #filterContainer input[type="date"] {
        font-size: 0.875rem;
    }
}

/* Make the little calendar icon white */
#filterContainer input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

#orderingContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

#orderingContainer h3, #filterContainer h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #orderingContainer {
        width: 20%;
        height: 90%;
    }
    #filterContainer {
        width: 70%;
        height: 90%;
    }
}

#statsContainer {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    ms-overflow-style: none; /* IE and Edge */
    margin: 5px;
}

@media (min-width: 1024px) {
    #statsContainer {
        height: 60%;
    }
}

#statsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#headerContainer {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    flex-flow: row wrap;
}

@media (min-width: 1024px) {
    #headerContainer {
        height: 25%;
    }
}

#headerContainer h1 {
    color: white; 
    margin: 0 20px;
    font-family: 'Roboto, sans-serif';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -1px -1px 0 rgba(0, 0, 0, 0.3);
}

.stats-table-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.stats-table-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
}

.chart-item {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    justify-self: center;
    position: relative;
}

@media (max-width: 768px) {
    /* Make all charts full width on smaller screens */
    .chart-item {
        width: 100% !important;
    }
}

.stats-graph-pokemon-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    position: absolute;
    top: 5px;
    right: 5px;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-table th,
.stats-table td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.stats-table th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 10;
    font-weight: bold;
}

.stats-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stats-table tr:hover {
    background-color: #f1f1f1;
}

.no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: #888;
}

#orderInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    font-size: 14px;
    max-height: 40px;
}

#modeSelection {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 5%;
    display: flex;
    align-items: center;
    position: relative; /* Needed for absolute positioning of the underline */
}

.modeSelector {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: font-size 0.3s;
}

.modeSelector.selected {
    font-size: 0.85rem;
}

@media (min-width: 1024px) {
    .modeSelector {
        font-size: 1.5rem;
    }
    .modeSelector.selected {
        font-size: 1.8rem;
    }
}

.underline {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease;
}

.allPokemonAllStatsDisplay {
    display: flex;
    flex-direction: column;
    width: 316px;
    background-color: rgba(101, 101, 101, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.killsAssistsScoredDisplay, .dealtTakenHealedDisplay, .keyPokemonStats {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
}
