#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h3 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#filterContainer {
    width: 44vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#orderingContainer {
    width: 44vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#graphContainer {
    height: 65vh;
    width: 99vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
