#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h3 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#filterContainer {
    width: 44vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#orderingContainer {
    width: 44vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#statsContainer {
    height: 65vh;
    width: 99vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    overflow-y: auto;
    padding: 10px;
}

#headerContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-table-container {
    height: 80%;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.chart-item {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    min-width: 300px;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-table th,
.stats-table td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.stats-table th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 10;
    font-weight: bold;
}

.stats-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.stats-table tr:hover {
    background-color: #f1f1f1;
}

.no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: #888;
}

#orderInfo {
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #f4f4f4;
}
