.home-button-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.home-button-container:hover {
    transform: scale(1.2);
}

.home-button-icon {
    color: #fff;
    font-size: 20px;
}
