
#infoScreenCover {
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoScreen {
    background-color: white;
    width: 50vw;
    height: 50vh;
    padding: 20px;
    border-radius: 10px;
}

#informationInputs {
    height: 100%;
    font-size: 1rem;
    overflow-y: scroll;
}
