#draft-page-container { /* Valid */
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("/assets/landingPageBackgrounds/Blurred/UNITE_Theia_Sky_Ruins.png");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.draft-side-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}

#draft-middle-parts-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.draft-corner-information-container {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 5px;
    background-color: rgb(51, 51, 51);
}

#draft-timer {
    color: white;
    background: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

#draft-page-logo {
    color: white;
    background: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

#draft-restart-button, #draft-start-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.draft-team-container {
    width: 100%;
    height: 92%;
    box-sizing: border-box;
}

#draft-left-column-container {
    border-right: 2px solid black;
}

#draft-right-column-container {
    border-left: 2px solid black;
}