.draft-composed-page-draft-board-characters-container {
    height: 88%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    overflow-y: scroll;
    color: rgb(255, 255, 255);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.draft-composed-page-draft-board-characters-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.draft-draft-listing-character-container {
    width: 7%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-radius: 4px;
}

.draft-draft-listing-character-container.available {
    cursor: pointer;
}

.draft-draft-listing-character-container.unavailable {
    filter: grayscale(1);
    cursor: not-allowed;
}

.draft-draft-listing-character-container img.draft-character-portrait {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
}

.draft-draft-listing-character-container h4 {
    margin: 0;
    padding: 2px 0;
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    z-index: 2;
    /* Below Syling + The Styling Block Below (... h4::before) needed to make gray top border not go over white border on left and right */
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    position: relative;
    display: block;
}

.draft-draft-listing-character-container h4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    height: 1px;
    background: #555;
    z-index: 1;
    border-radius: 0 0 0 0;
}

.draft-draft-listing-character-container.targeted {
    box-shadow: 0 0 10px gold;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 5px gold;
    }
    to {
        box-shadow: 0 0 15px gold;
    }
}

@media (max-width: 1024px) {
    .draft-composed-page-draft-board-characters-container {
        gap: 3px;
    }
    .draft-draft-listing-character-container {
        width: 12%;
    }
}

@media (max-width: 720px) {
    .draft-draft-listing-character-container {
        width: 20%;
    }
}
